@{
    Layout = "_Layout";
}

@model WeaponProfVM

<p> >Divide <b class="freeSlots">@Model.FreeWPs</b> (of @Model.TotalWPs)</p>


<form asp-controller="CreateChar" asp-action="SetWPs" method="post">

    @Html.Hidden("FreeWeaponProficiencies", @Model.FreeWPs)
    @Html.HiddenFor(Model => @Model.Id);
    @Html.HiddenFor(Model => @Model.TotalWPs);

    @for (var teller = 0; teller < @Model.WeaponProfs.Count(); teller++)
    {
        <div class="form-group text-center">

            @Html.HiddenFor(Model => @Model.WeaponProfs[teller].Weapon.Name);

            <label asp-for="@Model.WeaponProfs[teller].Weapon.Name"> @Model.WeaponProfs[teller].Weapon.Name</label>
            <input type="checkbox" name="@Model.WeaponProfs[teller].ProficiencySlots" value="@Model.WeaponProfs[teller].ProficiencySlots" id="@Model.WeaponProfs[teller].Weapon.Id" class="form-control" onchange="ChooseWPs(@Model.TotalWPs, id);"/>
        </div>
    }
    <button type="submit" class="btn btn-default"><b>Next Page</b></button>
</form>






<ul>
    <li><a asp-area="CharCreation" asp-controller="ShowChar" asp-action="Index">Save</a></li>
</ul>


